* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Tahoma, sans-serif;
    margin: auto;
    max-width: 1440px;
    padding-top: 70px;
    background-color: #fffafa;
    color: #3b2529;
}

h2, h3 {
    font-weight: 500;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

ol {
    padding-left: 20px;
    overflow-wrap: break-word; 
}

#app {
    display: flex;
    gap: 50px;
}

.board-container {
    display: flex;
    align-items: flex-start;
    gap: 70px;
    width: 100%;
}

.column-container {
    display: flex;
    gap: 60px;
    align-items: flex-start;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #fff1f3;
    padding: 20px;
    border-radius: 20px;
    width: 100%;
}

.column h2 {
    text-align: center;
}

.column ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.note-form {
    background-color: #faedef;
    padding: 20px;
    border-radius: 20px;
    width: 350px;
}

.note-form,
.note-form p {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.note-form input {
    padding: 10px;
    border: 1px solid #df9ba6;
    border-radius: 10px;
    outline: none;
    background-color: #fff9f9;
}

.note-form input:focus {
    border-color: #be6171;
    background-color: #fff;
}

.note-form input[type=submit],
button {
    padding: 10px;
    border: none;
    border-radius: 10px;
}

.note-form input[type=submit] {
    background-color: #b0c48b;
}

.note-form input[type=submit]:not(:disabled):hover {
    cursor: pointer;
    background-color: #98aa73;
}

button {
    background-color: #df9ba6;
}

button:not(:disabled):hover {
    cursor: pointer;
    background-color: #be6171;
    color: #fff;
}

input[type=checkbox] {
    cursor: pointer;
    accent-color: #b0c48b;
}

input[type=checkbox]:checked {
    cursor: default;
}

.notes {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.note {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 30px;
    width: 300px;
    gap: 10px;
    background-color: #fffefe;
    border: 1px solid #df9ba6;
    list-style: none;
}

.note > li {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.note ol {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.note ol li span {    
    overflow-wrap: break-word; 
}

.note h3 {
    text-align: center;
    overflow-wrap: break-word; 
    line-height: 1;
}

.crossedText {
    text-decoration: line-through;
    color: gray;
}

.noteDone {
    background-color: #d9e6c1;
    border: 1px solid #b0c48b;
}

.dangerText {
    color: #c52b2b;
}

::selection {
    background-color: #df9ba6;
}